h1 {
    padding: 1rem 2rem;
    margin: 2em 0;
    border-left: 6px dashed #000;
    background: linear-gradient(0.25turn,rgb(80, 219, 147), #ffefaf);
    text-align: center;
}

ul.ul_css1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

ul li {
    font-weight: bold;
    border-bottom: solid black;
}

h2 {
    padding: 0.5em 1em;
    margin: 1em 0;
    color: #474747;
    background: whitesmoke;
    border-left: double 7px rgb(80, 219, 147);
    border-right: double 7px rgb(80, 219, 147);
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

div.divCss1 p {
    font-weight: bold;
    text-align: center;
    width: 72vw;
}

p {
    font-weight: bold;
    text-align: center;
}

div.all_group {
    grid-template-columns: 1fr 1fr;
}

.divCss1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #ed3f3f;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.group2 {
    padding: 0.5em 1em;
    margin: 2em;
    color: #232323;
    background: #fff8e8;
    border-top: solid 30px #ffc06e;
}

div {
    display: grid;
}

.group3 {
    padding: 0.5em 1em;
    margin: 2em;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

h3.double {
    border-bottom: 15px double black;
    text-align: center;
}

h3 {
    border-bottom: 3px solid black;
    text-align: center;
}

ol li {
    list-style: none;
    text-align: center;
}

.dtCss {
    padding: 0px 0px 0px 140px;
}

h5 {
    text-align: center;
}