h1 {
    padding: 1rem 2rem;
    margin: 2em 0;
    border-left: 6px dashed #000;
    background: linear-gradient(0.25turn,rgb(80, 219, 147), #ffefaf);
    width: fit-content;
}

ul.group1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
    width: fit-content;
}

ul li {
    font-weight: bold;
    border-bottom: solid black;
}

h2 {
    padding: 0.5em 1em;
    margin: 1em 0;
    color: #474747;
    background: whitesmoke;
    border-left: double 7px rgb(80, 219, 147);
    border-right: double 7px rgb(80, 219, 147);
    width: fit-content;
}
p {
    font-weight: bold;
}

div.group2 ,div.group3 {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #ed3f3f;
    width: fit-content;
}

div.group4, div.group5, div.group6, div.group7, div.group8 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
}

h3 {
    border-bottom: 3px solid black;
    width: fit-content;
}