h1 {
    padding: 1rem 2rem;
    border-left: 6px dashed #000;
    background: linear-gradient(0.25turn,rgb(80, 219, 147), #ffefaf);
    width: fit-content;
}

ul {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
    width: fit-content;
}

ul li {
    font-weight: bold;
    border-bottom: solid black;
}

h2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #474747;
    background: whitesmoke;
    border-left: double 7px rgb(80, 219, 147);
    border-right: double 7px rgb(80, 219, 147);
    width: fit-content;
}
p {
    font-weight: bold;
}